$height: 400px;

.example {
  margin: 3vh 0;

  gap: 1vw;

  width: 60vw;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .container {
    width: 50%;
    height: $height;
    overflow: hidden;

    .img {
      width: 100%;
      height: auto;
      transition: transform 10s;
      cursor: pointer;
    }
    border-radius: 24px;
  }

  .container:hover .img {
    transform: translateY(calc(-100% + $height));
  }
  .container:not(:hover) .img {
    transform: translateY(0);
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    text-align: center;
    width: 50%;

    .icons {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }
}

.reverse {
  flex-direction: row-reverse;
}
