$height: 300px;

.example {
  display: flex;
  flex-direction: row;
  width: 90vw;
  margin: 0 auto;
  .container {
    width: 500px;
    height: $height;
    overflow: hidden;
    position: relative;
    .img {
      width: 100%;
      height: auto;
      transition: transform 7s;
      cursor: pointer;
    }
  }

  .container:hover .img {
    transform: translateY(calc(-100% + $height));
  }
  .container:not(:hover) .img {
    transform: translateY(0);
  }
  .text {
    display: flex;
    flex-direction: column;

    justify-content: space-around;
  }
}

.reverse {
  flex-direction: row-reverse;
}
