.WorkExample {
  height: 100vh;
  width: 100%;
  margin: 5% auto;

  .Wraper {
    position: relative;
  }
  .Text {
    width: 100%;
    height: 100%;
    position: absolute;

    top: 0;
    left: 0;

    background: rgba(91, 91, 91, 0.5);
    color: #fff;
    visibility: hidden;
    opacity: 0;

    /* transition effect. not necessary */
    transition: opacity 0.2s, visibility 0.2s;

    .title {
      margin: 0 auto;
      text-align: center;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    .subTitle {
      margin: 10px auto;
      text-align: center;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    .Icons {
      margin: 20px auto;
      text-align: center;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      align-items: center;
      a {
        margin: 0 20px;
      }
    }
  }

  .Wraper:hover .Text {
    visibility: visible;
    opacity: 1;
  }
}
